body {
    background: linear-gradient(135deg, #ff5873 30%, #C1275C);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
}

.corazon {
    width: 150px;
    height: 150px;
    background-image: url('img/corazon.png');
    animation: latido 1s infinite;
}

@keyframes latido {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#noBtn {
    position: absolute;
    transition: all 0.3s ease;
}